.header {
  padding-top: 10px;
  margin: 5px;
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,0.188);
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.188);
}
.header .blog-title .logo {
  color: #aaa;
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
  text-decoration: none;
  margin-left: 10px;
}
.header .blog-title:hover {
  animation: logoam 1s 1 1s;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #368ccb;
}
@-moz-keyframes logoam {
  0% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  25% {
    transform-origin: -100px;
    transform: rotate(2deg);
  }
  50% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  100% {
    transform-origin: -100px;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes logoam {
  0% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  25% {
    transform-origin: -100px;
    transform: rotate(2deg);
  }
  50% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  100% {
    transform-origin: -100px;
    transform: rotate(0deg);
  }
}
@-o-keyframes logoam {
  0% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  25% {
    transform-origin: -100px;
    transform: rotate(2deg);
  }
  50% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  100% {
    transform-origin: -100px;
    transform: rotate(0deg);
  }
}
@keyframes logoam {
  0% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  25% {
    transform-origin: -100px;
    transform: rotate(2deg);
  }
  50% {
    transform-origin: -100px;
    transform: rotate(5deg);
  }
  100% {
    transform-origin: -100px;
    transform: rotate(0deg);
  }
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.posts .post:nth-child(1) {
  margin-top: -45px;
}
.posts .post {
  width: 98%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  -webkit-transition: 0.5s;
  transition: 0.2s;
}
.posts .post:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.376);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
.posts .post-title {
  font-size: 20px;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
.archive {
  margin: 0px auto;
  padding: 30px 50px;
  background-color: #fff;
  box-shadow: 0 0 2px #ccc;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
.page-nav {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  margin: 50px 0;
  font-weight: bold;
}
.page-nav > * {
  margin-right: 8px;
  padding: 8px;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
.page-nav a:active,
.page-nav a:link,
.page-nav a:visited {
  color: blue-color;
}
.backTop a {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #eee;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
}
.backTop a:hover {
  background-color: #bbb;
}
.backPre a {
  position: fixed;
  right: 50px;
  bottom: 190px;
  background-color: #eee;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
}
.backPre a:hover {
  background-color: #bbb;
}
.backNext a {
  position: fixed;
  right: 50px;
  bottom: 120px;
  background-color: #eee;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
}
.backNext a:hover {
  background-color: #bbb;
}
.w {
  box-shadow: 0 0 2px #ccc;
  overflow: hidden;
  margin: 10px auto;
}
main {
  padding: 50px;
}
*[bimg] {
  height: 4vw;
  width: 4vw;
}
